.chat-group-form
  - if flash[:errors].present?
    .flash
      - flash[:errors].each do |msg|
        %p.flash__message=msg
  %h1 新規チャットグループ
  =form_for @group, class: "new_chat_group", id: "new_chat_group" do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        =f.label :name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        =f.text_field :name, class:"chat-group-form__input", id: "chat_group_name", placeholder: "グループ名を入力してください"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        =f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
        =text_field :keyword, :keyword, class: "chat-group-form__input"
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        =f.label :member, "チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        #group-user
          .chat-group-user.clearfix
            =f.hidden_field :user_ids, :multiple => true, value: current_user.id
            %p.chat-group-user__name= current_user.name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        =f.submit value: "Save", class: "chat-group-form__action-btn"
